<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>class attendance</title>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="style.css">
    <link href="{{url_for('static' , filename='bootstrap.css') }}"rel="stylesheet">
    <link href="{{url_for('static' , filename='style.css') }}"rel="stylesheet">
    

</head>

<body>

    <!-- Header Area Start -->
    <header class="header-area">
        <!-- Top Header Area Start -->
        <!-- Top Header Area End -->

        <!-- Main Header Start -->
        <div class="main-header-area">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Classy Menu -->
                    <nav class="classy-navbar justify-content-between" id="akameNav">
                        <div class="classy-menu">
                            <!-- Menu Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->

    <!-- Contact Information Area Start -->
    <section class="contact-information-area section-padding-80-0">
        <div class="container">
            <div class="row">
        </div>
    </section>
    <!-- Contact Information Area End -->
            <div class="row">
                <div class="col-12">
                    <!-- Form -->
                    <form action="#" method="post" class="akame-contact-form border-0 p-0">
                        <div class="row">
                            <div class="col-lg-6">
                            </div>
                            <div class="col-lg-6">
                            </div>
                            <div class="col-12">  
                            </div>
                            <div class="col-12 text-center">
                                <button type="submit" class="btn akame-btn btn-3 mt-15 active">Data Base</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Area End -->

    <!-- Footer Area Start -->
    <footer class="footer-area section-padding-80-0">
        <div class="container">
            <div class="row justify-content-between">

                        <!-- Copywrite Text -->
                        <div class="copywrite-text">
                        </div>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                    <div class="single-footer-widget mb-80">
                        <!-- Widget Title -->

                        <!-- Open Times -->
                        <div class="open-time">
                        </div>

                        <!-- Social Info -->
                        <div class="social-info">
                        </div>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 text-center">
                    <div class="single-footer-widget mb-80">

                        <!-- Widget Title -->
                        <h4 class="widget-title"><span>Date and Time</span></h4>

                        <!-- Contact Address -->
                        <div class="contact-address">
                            
                            <span>Number of student</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </footer>

</body>

</html>
